In [ ]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import matplotlib.colors as colors
from shapely.geometry import Point
import numpy as np
import mapclassify
from matplotlib.colors import BoundaryNorm
from matplotlib.colors import ListedColormap
from matplotlib import patheffects
import os
import seaborn as sns
import rasterio
from rasterio.transform import rowcol

In [ ]:
df_total = pd.read_csv('./Dados/brasil_por_indices.csv', index_col=0)

In [ ]:
def extrairValorEmLote(df, tiff_path,nome_coluna_saida,  coluna_lat='Latitude', coluna_lon='Longitude'):
    with rasterio.open(tiff_path) as src:
        banda = src.read(1)
        transform = src.transform

        def extrair_valor(row):
            try:
                row_idx, col_idx = rowcol(transform, row[coluna_lon], row[coluna_lat])
                return banda[row_idx, col_idx]
            except:
                return None

        df[nome_coluna_saida] = df.apply(extrair_valor, axis=1)
    
    return df

In [ ]:
df_total = extrairValorEmLote(df_total, '../Dados/Clima/Preciptação/historico_media.tif','Precipitação')
df_total = extrairValorEmLote(df_total, '../Dados/Clima/Temperatura Máxima/historico_media.tif', 'TempMax')
df_total = extrairValorEmLote(df_total, '../Dados/Clima/Temperatura Mínima/historico_media.tif', 'TempMin')
df_total['TempMedia'] = df_total[['TempMax', 'TempMin']].mean(axis=1)
df_total

,Latitude,Longitude,Sentinel-NDVI,Sentinel-NDWI,Precipitação,TempMax,TempMin,TempMedia
0,-33.80,-74.00,NaN,NaN,NaN,NaN,NaN,NaN
1,-33.80,-73.99,NaN,NaN,NaN,NaN,NaN,NaN
2,-33.80,-73.98,NaN,NaN,NaN,NaN,NaN,NaN
3,-33.80,-73.97,NaN,NaN,NaN,NaN,NaN,NaN
4,-33.80,-73.96,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
15287995,5.19,-34.85,NaN,NaN,NaN,NaN,NaN,NaN
15287996,5.19,-34.84,NaN,NaN,NaN,NaN,NaN,NaN
15287997,5.19,-34.83,NaN,NaN,NaN,NaN,NaN,NaN
15287998,5.19,-34.82,NaN,NaN,NaN,NaN,NaN,NaN
15287999,5.19,-34.81,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_total = df_total.dropna()
# df_total.to_csv('../Dados/coordenadas_com_indices_sem_nan.csv')

KeyboardInterrupt:

In [2]:
df_total = pd.read_csv('../Dados/coordenadas_com_indices_sem_nan.csv', index_col=0)

df_ocorrencias = pd.read_csv('../Dados/Ocorrências/Meliponini - GBIF.csv', index_col = 0)

In [4]:
df_ocorrencias = df_ocorrencias[
    (df_ocorrencias['Especie'] == "Friesella schrottkyi") |
    (df_ocorrencias['Especie'] == "Frieseomelitta varia") |
    (df_ocorrencias['Especie'] == "Melipona bicolor") |
    (df_ocorrencias['Especie'] == "Melipona fasciculata") |
    (df_ocorrencias['Especie'] == "Melipona flavolineata") |
    (df_ocorrencias['Especie'] == "Melipona marginata") |
    (df_ocorrencias['Especie'] == "Melipona mondury") |
    (df_ocorrencias['Especie'] == "Melipona quadrifasciata") |
    (df_ocorrencias['Especie'] == "Melipona scutellaris") |
    (df_ocorrencias['Especie'] == "Melipona seminigra") |
    (df_ocorrencias['Especie'] == "Nannotrigona testaceicornis") |
    (df_ocorrencias['Especie'] == "Plebeia droryana") |
    (df_ocorrencias['Especie'] == "Scaptotrigona bipunctata") |
    (df_ocorrencias['Especie'] == "Scaptotrigona depilis") |
    (df_ocorrencias['Especie'] == "Tetragonisca angustula") |
    (df_ocorrencias['Especie'] == "Cephalotrigona capitata") |
    (df_ocorrencias['Especie'] == "Frieseomelitta flavicornis") |
    (df_ocorrencias['Especie'] == "Frieseomelitta longipes") |
    (df_ocorrencias['Especie'] == "Leurotrigona muelleri") |
    (df_ocorrencias['Especie'] == "Melipona capixaba") |
    (df_ocorrencias['Especie'] == "Melipona quinquefasciata") |
    (df_ocorrencias['Especie'] == "Paratrigona lineata") |
    (df_ocorrencias['Especie'] == "Plebeia minima") |
    (df_ocorrencias['Especie'] == "Plebeia remota") |
    (df_ocorrencias['Especie'] == "Plebeia saiqui") |
    (df_ocorrencias['Especie'] == "Scaptotrigona polysticta") |
    (df_ocorrencias['Especie'] == "Scaptotrigona postica") |
    (df_ocorrencias['Especie'] == "Scaptotrigona xanthotricha") |
    (df_ocorrencias['Especie'] == "Tetragonisca weyrauchi") |
    (df_ocorrencias['Especie'] == "Trigona spinipes") |
    (df_ocorrencias['Especie'] == "Frieseomelitta doederleini") |
    (df_ocorrencias['Especie'] == "Frieseomelitta languida") |
    (df_ocorrencias['Especie'] == "Geotrigona mombuca") |
    (df_ocorrencias['Especie'] == "Lestrimelitta limao") |
    (df_ocorrencias['Especie'] == "Melipona melanoventer") |
    (df_ocorrencias['Especie'] == "Oxytrigona tataira") |
    (df_ocorrencias['Especie'] == "Partamona helleri") |
    (df_ocorrencias['Especie'] == "Plebeia julianii") |
    (df_ocorrencias['Especie'] == "Schwarziana quadripunctata") |
    (df_ocorrencias['Especie'] == "Tetragona clavipes") |
    (df_ocorrencias['Especie'] ==  "Duckeola ghilianii")|
    (df_ocorrencias['Especie'] ==  "Melipona asilvai")|
    (df_ocorrencias['Especie'] ==  "Melipona crinita")|
    (df_ocorrencias['Especie'] ==  "Melipona eburnea")|
    (df_ocorrencias['Especie'] ==  "Melipona fuliginosa")|
    (df_ocorrencias['Especie'] ==  "Melipona fulva")|
    (df_ocorrencias['Especie'] ==  "Melipona interrupta")|
    (df_ocorrencias['Especie'] ==  "Melipona lateralis")|
    (df_ocorrencias['Especie'] ==  "Melipona mandacaia")|
    (df_ocorrencias['Especie'] ==  "Melipona orbignyi")|
    (df_ocorrencias['Especie'] ==  "Melipona paraensis")|
    (df_ocorrencias['Especie'] ==  "Melipona rufiventris")|
    (df_ocorrencias['Especie'] ==  "Melipona subnitida")|
    (df_ocorrencias['Especie'] ==  "Melipona torrida")|
    (df_ocorrencias['Especie'] ==  "Nannotrigona punctata")|
    (df_ocorrencias['Especie'] ==  "Plebeia emerina")|
    (df_ocorrencias['Especie'] ==  "Plebeia flavocincta")|
    (df_ocorrencias['Especie'] ==  "Plebeia lucii")|
    (df_ocorrencias['Especie'] ==  "Scaptotrigona tubiba")|
    (df_ocorrencias['Especie'] ==  "Trigona pallens")]



df_ocorrencias

                      Especie   Latitude  Longitude Pais        Genero
0      Tetragonisca angustula -11.524631 -54.355206   BR  Tetragonisca
1      Tetragonisca angustula -11.524631 -54.355206   BR  Tetragonisca
2      Tetragonisca angustula -11.524631 -54.355206   BR  Tetragonisca
5      Tetragonisca angustula -11.524631 -54.355206   BR  Tetragonisca
6      Tetragonisca angustula -11.524631 -54.355206   BR  Tetragonisca
...                       ...        ...        ...  ...           ...
67123        Melipona asilvai  -5.538399 -36.230202   BR      Melipona
67125        Trigona spinipes -23.195914 -45.015115   BR       Trigona
67126        Trigona spinipes -23.195914 -45.015115   BR       Trigona
67127        Trigona spinipes -23.250700 -45.281500   BR       Trigona
67128        Trigona spinipes -23.250700 -45.281500   BR       Trigona

[38137 rows x 5 columns]

In [5]:

import pandas as pd
from scipy.spatial import cKDTree

df_total['especie_abelha'] = [[] for _ in range(len(df_total))]


tree = cKDTree(df_ocorrencias[['Latitude', 'Longitude']].values)

tolerancia = 0.01

def especies_proximas(lat, lon):
    ponto = [lat, lon]
    indices = tree.query_ball_point(ponto, r=tolerancia)
    if indices:
        return df_ocorrencias.iloc[indices]['Especie'].unique().tolist()
    else:
        return []

df_total['especie_abelha'] = df_total.apply(
    lambda row: especies_proximas(row['Latitude'], row['Longitude']), axis=1
)

df_total['ocorrencia'] = df_total['especie_abelha'].apply(lambda x: len(x) > 0)

In [70]:
df_total[df_total['ocorrencia'] == True]

,Latitude,Longitude,Sentinel-NDVI,Sentinel-NDWI,Precipitação,TempMax,TempMin,TempMedia,especie_abelha,ocorrencia
641141,-32.17,-52.19,0.230616,-0.211286,38.17439,22.762276,15.409838,19.086056,"[Melipona torrida, Melipona quadrifasciata]",True
641142,-32.17,-52.18,0.198739,-0.187349,38.17439,22.762276,15.409838,19.086056,"[Melipona torrida, Melipona quadrifasciata]",True
648981,-32.15,-52.19,0.207859,-0.195122,37.65317,22.795040,15.426260,19.110650,[Tetragonisca fiebrigi],True
652900,-32.14,-52.20,0.213719,-0.198094,37.65317,22.795040,15.426260,19.110650,[Tetragonisca fiebrigi],True
652901,-32.14,-52.19,0.173705,-0.162306,37.65317,22.795040,15.426260,19.110650,[Tetragonisca fiebrigi],True
...,...,...,...,...,...,...,...,...,...,...
14352450,2.81,-60.70,0.011766,0.026669,32.36748,32.893414,24.081951,28.487682,[Melipona fulva],True
14352453,2.81,-60.67,-0.001957,0.038313,32.36748,32.893414,24.081951,28.487682,"[Melipona favosa, Trigona pallens]",True
14352454,2.81,-60.66,-0.001638,0.037539,32.46496,32.786910,24.073740,28.430325,"[Melipona favosa, Trigona pallens]",True
14356373,2.82,-60.67,-0.001702,0.038853,32.36748,32.893414,24.081951,28.487682,"[Melipona favosa, Trigona pallens]",True
14356374,2.82,-60.66,-0.006097,0.042886,32.46496,32.786910,24.073740,28.430325,"[Melipona favosa, Trigona pallens]",True

In [6]:
df_total.to_csv('../Dados/coordenadas_com_ocorrencias_especie.csv')

In [9]:
df_total[df_total["especie_abelha"].apply(lambda x: "Plebeia julianii" in x)]

,Latitude,Longitude,Sentinel-NDVI,Sentinel-NDWI,Precipitação,TempMax,TempMin,TempMedia,especie_abelha,ocorrencia
4114363,-23.31,-51.17,-0.118378,0.119076,33.575855,27.860651,15.016423,21.438538,"[Tetragonisca angustula, Scaptotrigona postica...",True
4114364,-23.31,-51.16,-0.130175,0.130742,32.597397,28.131138,15.344228,21.737682,"[Tetragonisca angustula, Scaptotrigona postica...",True